// colors
$color-black: #222222;
$color-white: #FFFFFF;
$color-gray-darkest: #2D3233;
$color-gray-darker: #516065;
$color-gray-darker-l: #69797F;
$color-gray-dark: #81949A;
$color-gray: #AFC7CF;
$color-gray-light: #CDDDE2;
$color-gray-lighter: #E1EBEE;
$color-gray-lightest: #F1F8FA;
$color-violet-darkest: #101948;
$color-violet-darker: #363A4D;
$color-violet-dark: #2640AD;
$color-violet: #3B5ADC;
$color-violet-light: #8D9FEC;
$color-violet-lighter: #E3E7F8;
$color-violet-dull-darkest: #383C50;
$color-violet-dull-darker: #525A70;
$color-violet-dull-dark: #747A95;
$color-violet-dull: #ACB2CC;
$color-violet-dull-light: #D7DCF1;
$color-violet-dull-lighter: #EAECF5;
$color-blue-darkest: #0D3940;
$color-blue-darker: #007083;
$color-blue-darker-l: #00869D;
$color-blue-dark: #099FB8;
$color-blue: #31B5CB;
$color-blue-light: #BAEAF8;
$color-blue-lighter: #E4F9FF;
$color-beige-darkest: #3C3F38;
$color-beige-darker: #7F8774;
$color-beige-dark: #C1CBB4;
$color-beige: #D9E0CF;
$color-beige-light: #EDF2E5;
$color-beige-lighter: #F8F9F6;
$color-red-darkest: #7E1D16;
$color-red-darker: #BE2216;
$color-red-dark: #F83526;
$color-red-dull: #E25B51;
$color-red: #FF756B;
$color-red-light: #FEB4AE;
$color-red-lighter: #FCD6D3;
$color-red-lightest: #FFEAE8;
$color-yellow-0: #C88A00;
$color-yellow-darkest: #DE9A00;
$color-yellow-darker: #FDAF00;
$color-yellow-dark: #FFCA54;
$color-yellow-dull: #EAC981;
$color-yellow: #FFDC8D;
$color-yellow-light: #FFEFCB;
$color-yellow-lighter: #FFF5DF;
$color-yellow-lightest: #FFF9EB;
$color-green-darker: #009861;
$color-green-dark: #1CAC78;
$color-green-darkest: #008756;
$color-green-dull: #4DB791;
$color-green: #31E1A1;
$color-green-light: #65F3C0;
$color-green-lighter: #B8FAE2;
$color-green-lightest: #D7FFF0;
$mp-colors: #344384;
$bg-blue-grad: #2640AD;
$grad-light: #F1F8FA;
$grad-darkblue-bg: #2640AD;

// effects
$dev-shadow:  0px 14px 18px rgba(0, 0, 0, 0.25);
$glow:  0px 0px 17px rgba(255, 255, 255, 0.4);
$carv:  0px 1px 1px rgba(0, 0, 0, 0.6);