section.try-section
	.container-xl
		.row
			.col-12.col-sm-8.col-md-8.col-xl-12
				.try-section__inner
					h2.try-section__title.title-2 Securely store your passwords with с MultiPassword
					p.try-section__descr MultiPassword is a secure encrypted password manager.
					a.try-section__btn.action-btn(href="register.html") Sign up  
