article.article-item
	.container-xl
		h2 How to disable password autofill in Google Chrome?
		p Sometimes, our users may face the problem when they try to change data, logins and passwords, in the MultiPassword.com interface.

		p This limitation directly depends on the subscription status. You need an active subscription to change data in MultiPassword. Learn more about our subscription plans on 
			a(href="#") this page.

		p Please note! MultiPassword doesn't block user data but only restricts making changes to it. You can still use password manager, view logins and passwords, copy them and use web browser autofill. Data can also be deleted.
		h3 Online payment
		p MultiPassword is connected to Internet acquiring CloudPayments. You can pay for your subscription by card Visa, MasterCard. After choosing a subscription, a secure window will open with a payment page of the CloudPayments processing center, where you need to enter your bank card details. 

		p Import web browser passwords

		p For additional authentication of the cardholder, the 3-D Secure protocol is used. If the Bank supports this technology, you will be redirected to its server for additional identification. For information on the rules and methods of additional identification, check with the Bank that issued your bank card. 

		ul
			li After payment is made
			li The subscription is instantly activated
			li The payment receipt will be sent to the e-mail indicated 
			li Your personal account, confirming the payment, Your personal account, confirming the payment, Your personal account, confirming the payment, Your personal account, confirming the payment

