form.signin-form
	header.signin-form__header
		+icon('signin-form__header-icon fa fa-sign-in-alt')
		h2.signin-form__header-title.title-2 Sign in
	.signin-form__body
		label.signin-form__label
			span.signin-form__label-text E-mail
			input.signin-form__input(type="email" placeholder="E-mail" name="email")
		label.signin-form__label
			span.signin-form__label-text Password
			input.signin-form__input(type="password" placeholder="Password" name="pass")
