include ../_includes/config.pug
doctype html

html(lang=config.lang)
	head
		//- block meta for local page config
		block meta
		include ../_includes/head.pug
		
	body
		block body
			
		include ../_includes/scripts.pug
		+githubCorner('fixed', '#000', 'https://github.com/KikelDmitry/multipassword')