header.log-header
	.container-xl
		.log-header__inner
			h1.log-header__title.title-1 multi
				span password
			.log-header__logo
				img.log-header__logo-img(src="img/logo.svg" alt="MultiPassword logo")
			.log-header__info
				h2.log-header__subtitle Login account
				a.log-header__link(href="#")
					+icon('fa fa-user-plus')
					span Create an account