// desktop first approach
.main {
	&--publisher {
		display: flex;
		background-image: url(#{$img-path}sign-in-back.svg), linear-gradient(to right, $color-violet, $color-violet),
			linear-gradient(to right, $color-gray-lightest, $color-gray-lightest);
		background-repeat: no-repeat;
		background-size: auto 24%, 100% 50%, 100% 50%;
		background-position: right top, 0 0, 0 0;
	}
}
.signin-block {
	margin: auto;
	padding: 15px 15px 122px;
	box-sizing: content-box;
	max-width: 360px;
	width: 100%;

	@include media-breakpoint-down(lg) {
		box-sizing: border-box;
		max-width: 390px;
	}

	&__title {
		max-width: 360px;
		margin-bottom: 0.75em;
		color: $color-white;
		font-size: rem(30);
		line-height: 115%;

		@include media-breakpoint-up(lg) {
			font-size: rem(40);
		}
	}
	&__inner {
		display: flex;
		width: inherit;
		max-width: inherit;
		min-height: 460px;
		box-shadow: 0px 14px 50px rgba(35, 45, 48, 0.33);

		@include media-breakpoint-down(md) {
			display: block;
		}
	}
	&--wide {
		max-width: 750px;

		.signin-block__inner {
			> * {
				flex: 1 0 50%;
			}
		}
	}
}
