.log-form {
	max-width: 470px;
	padding: 0 15px;
	width: 100%;
	margin: 0 auto;

	&__row {
		--size: 40px;
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		min-height: var(--size);
		margin: 15px 0;

		&:focus-within {
			.log-form__icon {
				color: $color-violet-light;
			}
		}
		&--text {
			margin-bottom: 30px;
			height: 30px;
			padding-left: var(--size);
		}
		&--btn {
			margin: 30px 0;
			padding-left: var(--size);
			height: auto;
			display: flex;
			// flex-wrap: wrap;
			justify-content: space-between;

			@include media-breakpoint-down(sm) {
				padding-left: 0;
			}
		}
	}
	&__icon {
		flex: 0 0 auto;
		width: var(--size);
		height: var(--size);
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 0.4em;
		color: $color-gray-light;
		transition: color 200ms;

		@include media-breakpoint-down(sm) {
			position: absolute;
			top: 0;
			right: 0;
			pointer-events: none;
		}
	}
	&__input {
		min-width: 0;
		height: var(--size);
		flex: 1 1 auto;
		border: 0;
		border-bottom: 3px solid $color-gray-lighter;
		transition: border-color 200ms;
		font-weight: 500;

		&::placeholder {
			color: $color-gray-dark;
		}
		&:hover {
			border-color: $color-violet-lighter;
		}
		&:focus {
			outline: 0;
			border-color: $color-violet-light;
		}
	}
	&__link {
		font-size: rem(14);
		color: $color-violet-dark;

		&:hover {
			color: $color-violet-light;
		}
	}
	&__btn {
		--size: 60px;
		max-width: 234px;
		margin: 0 auto;
		border: 2px solid $color-gray-lighter;
		color: $color-violet-dark;
		font-size: rem(22);
		transition: border-color 200ms;

		&-icon {
			height: var(--size);
			background-color: $color-gray-lighter;
			transition: background-color 200ms, color 200ms;
			font-size: inherit;
		}
		&-text {
			font-family: $font-roboto;
		}
		&:hover {
			border-color: $color-violet-dark;

			.log-form__btn-icon {
				color: $color-white;
				background-color: $color-violet-dark;
			}
			.log-form__btn-text {

			}
		}
		&--nav {
			margin: 0 8px;
			max-width: 190px;

			&:first-of-type {
				margin-left: 0;
			}
			&:last-of-type {
				margin-right: 0;
			}
			@include media-breakpoint-down(sm) {
				// max-width: 50%;
				margin: rem(10) rem(10);
				--size: 50px;
			}
		}
	}
	&__messages {

	}
}
.log-form-msg {
	margin: 15px 0;

	&__icon {
		padding-bottom: 0;

		@include media-breakpoint-down(sm) {
			height: 100%;
		}
	}
	&__text {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		height: 100%;
		padding: rem(17) rem(30);
		background-color: $color-red;
		color: $color-white;
		line-height: 1.2;
		
		@include media-breakpoint-down(sm) {
			padding: rem(14) rem(15);
			padding-right: var(--size);
		}
	}
	&--err {
		.log-form-msg__icon {
			color: $color-red;

			@include media-breakpoint-down(sm) {
				color: $color-white;
			}
		}
	}
}