.log-header {
	--line-height: 64px;
	margin-top: 16vh;
	margin-bottom: rem(40);
	background-image: linear-gradient(to right, $color-gray-lighter, $color-gray-lighter);
	background-repeat: no-repeat;
	background-size: calc(100% - var(--line-height) / 2) var(--line-height);

	@include media-breakpoint-up(sm) {
		--line-height: 75px;
	}
	@include media-breakpoint-up(md) {
		--line-height: 100px;
		background-size: 50% var(--line-height);
	}
	@include media-breakpoint-up(lg) {
		--line-height: 142px;

	}
	&__inner {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		min-height: var(--line-height);

		@include media-breakpoint-up(sm) {
		}
		@include media-breakpoint-up(md) {
			flex-wrap: nowrap;
			min-height: auto;
			height: var(--line-height);
		}
		@include media-breakpoint-up(lg) {
		}
	}
	&__title,
	&__info {
		flex: 1 1 auto;

		@include media-breakpoint-up(md) {
			flex-basis: 100%;
		}
	}
	&__title {
		color: $color-violet-dark;
		font-size: rem(20);
		font-weight: 400;
		
		@include media-breakpoint-up(md) {
			text-align: right;
			font-size: rem(24);
		}
		@include media-breakpoint-up(lg) {
			font-size: rem(32);
		}
		span {
			color: $color-violet-dull-darker;
		}
	}
	&__logo {
		flex: 0 0 auto;
		height: var(--line-height);
		
		@include media-breakpoint-up(md) {
			margin: 0 20px;
		}

		&-img {
			height: 100%;
			width: auto;
		}
	}
	&__info {
		width: 100%;
		margin-top: rem(15);

		@include media-breakpoint-up(sm) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		@include media-breakpoint-up(md) {
			display: block;
			margin-top: 44px;
		}
	}
	&__subtitle {
		margin-bottom: 0.54em;
		font-size: rem(18);
		font-weight: normal;
		color: $color-violet-dull-darker;
		
		@include media-breakpoint-up(sm) {
			margin-bottom: 0;
			font-size: rem(20);
		}
		@include media-breakpoint-up(md) {
			margin-bottom: 0.54em;
		}
		@include media-breakpoint-up(lg) {
			font-size: rem(24);
		}
	}
	&__link {
		display: inline-flex;
		align-items: center;

		i {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 32px;
			height: 32px;
			margin-right: 7px;
			font-size: rem(13);
			color: $color-violet;
			border: 1px solid #e1ebee;
			border-radius: 50%;
			transition: background-color 200ms, color 200ms, border-color 200ms;
		}
		span {
			color: $color-violet-dark;
			font-weight: 500;

			&::after {
				content: "";
				display: block;
				width: 100%;
				height: 1px;
				background-color: currentColor;
				transform-origin: right center;
				transform: scaleX(0);
				transition: transform 200ms;
			}
		}
		&:hover {
			i {
				background-color: $color-violet-dark;
				color: $color-white;
				border-color: $color-violet-dark;
			}
			span {
				&::after {
					transform-origin: left center;
					transform: scaleX(1);
				}
			}
		}
		&--login {
			i {
			}
		}
		&--reg {
			i {
				padding-left: 0.3em;
			}
		}
	}
}
