//- project config 

-
	var config = {
		lang: 'en',
		title: 'Multipassword',
		description: 'Multipassword - Secured password manager',
		color: '#2640AD',
		noIndex: true,
		page: {
			title: '',
			description: '',
		},
		og: {
			title: 'open graph title',
			image: 'open graph image',
		},
	};

include mixins.pug