header.header
	.container-xl
		.row.align-items-center
			.header__title.col-auto
				.header__logo
					img(src="img/logo.svg" alt="MultiPassword logo" width="40" height="40")
				a.header__name(href="index.html") multi
					span password
			.header__slogan.col-auto Secured password manager