-
	var menu = [
		{
			title: 'Features',
			url: 'features.html',
		},
		{
			title: 'How it works',
			url: 'how-it-works.html',
		},
		{
			title: 'Download',
			url: '#',
		},
		{
			title: 'Plans',
			url: '#',
		},
	]
nav.header-nav(class=(isHomepage ? 'header-nav--home' : ''))
	ul.header-nav__list#main-menu
		each item in menu
			li.header-nav__item
				a.header-nav__link(href=item.url) #{item.title}
	a.header-nav__signin(href="#")
		+icon('fas fa-sign-in-alt')
		span Sign in
	button.header-nav__burger.d-md-none#burger-btn(type="button" aria-label="Open menu")
		+icon('fa fa-bars')