section.home-hero
	.container-xl
		.row
			.col-12.col-md-6.col-lg-4
				.home-hero__banner
					img.home-hero__banner-img(src="img/phone.png" alt="phone and desktop image" width="359" height="230")
			.col-12.col-md-6.col-lg-4
				.home-hero__main
					h1.home-hero__title Secured password manager
					a.home-hero__signup.iconed-btn(href="#")
						+icon('fa fa-user-plus iconed-btn__icon')
						span.iconed-btn__text Sign up