//- svg sprite insert
mixin svg(classes, anchor, title, desc, attrObj)
	svg(class=classes)&attributes(attrObj) 
		use(href="/img/sprite.svg#" + anchor)
		if title
			title=title
		if desc
			desc=desc
	//- example:
		+svg(
			'some-class',
			'icons--googleLogo',
			'Some title',
			'google logo',
			{
				'role': 'img',
				'aria-role': 'image'
			}
		)