form.search-bar
	input.search-bar__input(type="text" name="query" placeholder="Search...")
	button.search-bar__submit(type="submit" title="Search")
		span.visually-hidden Search
		+icon('fas fa-search')