.latest-articles {
	padding-bottom: 30px;
	
	&__title {
		margin-bottom: rem(12);
		font-size: rem(20);

		@include media-breakpoint-up(sm) {
			margin-bottom: rem(10);
			font-size: rem(25);
		}
		@include media-breakpoint-up(xl) {
			margin-bottom: rem(21);
			font-size: rem(32);
		}
	}
	&__list {
	}
	&__item {
		&:not(:last-child) {
			border-bottom: 1px solid #e2ebee;
		}
	}
}
.article-item {
	padding: 15px 0;
	position: relative;

	&__title {
		margin-bottom: 1em;
	}
	&__link {
		color: $color-violet-dark;
		font-weight: 500;
		font-size: rem(16);

		@include media-breakpoint-up(sm) {
			font-size: rem(17);
		}
		@include media-breakpoint-up(lg) {
			font-size: rem(18);
		}
		@include media-breakpoint-up(xl) {
			font-size: rem(22);
		}
		&::after {
			content: '';
			@include absoluteFull;
		}
		&:hover {
			color: $color-violet;
		}
	}
	&__descr {
		margin-bottom: 0;
		color: $color-gray-darker-l;
		font-size: rem(15);

		@include media-breakpoint-up(sm) {
			font-size: rem(16);
		}
		@include media-breakpoint-up(md) {
			font-size: rem(17);
		}
	}
}
