.try-section {
	background-color: #f1f8fa;
	background-image: url(#{$img-path}safe.png);
	background-repeat: no-repeat;
	background-position: calc(50% + 10px) calc(50% - 10px);
	background-size: auto 46%;

	@include media-breakpoint-up(sm) {
		background-position: right 2% center;
		background-size: auto 78%;
	}
	@include media-breakpoint-up(lg) {
		background-position: right 10% bottom -38px;
		background-size: auto 106%;
	}
	@include media-breakpoint-up(xl) {
		background-image: none;
	}
	&__inner {
		display: flex;
		flex-direction: column;
		min-height: 372px;
		padding: 25px 0 40px;

		@include media-breakpoint-up(sm) {
			padding: 30px 0 40px;
			min-height: 260px;
		}
		@include media-breakpoint-up(md) {
			padding: 40px 0 50px;
			min-height: 300px;
		}
		@include media-breakpoint-up(lg) {
			padding: 45px 0;
			min-height: 280px;
		}
		@include media-breakpoint-up(xl) {
			padding: 64px 0 55px;
			min-height: 270px;
			background-image: url(#{$img-path}safe.png);
			background-repeat: no-repeat;
			background-position: right center;
			background-size: auto 132%;
		}
	}
	&__title {
		color: $color-violet-dark;
		font-weight: 500;
		font-size: rem(20);

		@include media-breakpoint-up(sm) {
			font-size: rem(22);
			margin-bottom: rem(17);
		}
		@include media-breakpoint-up(md) {
			margin-bottom: rem(20);
			font-size: rem(25);
		}
	}
	&__descr {
		display: none;

		@include media-breakpoint-up(sm) {
			display: block;
			color: $color-gray-darkest;
		}
	}
	&__btn {
		margin-top: auto;

		@include media-breakpoint-up(sm) {
			margin-top: 0;
			max-width: 262px;
		}
	}
}
