extends _layout/page.pug

block meta
	- config.page.title = 'Download';
	- iconedTitle = true;
	- iconClass = 'fas fa-cloud-download-alt';

block main
	include _includes/_download/download-section.pug