extends _layout/homepage.pug

block meta
	- config.page.title = 'Home page';
	- config.page.description = 'Home page description';
	- var isHomepage = true;

block main
	main.main.main--home
		include _includes/_home/hero.pug
		include _includes/_home/how-its-work.pug
		include _includes/_home/why-its-safe.pug
		include _includes/_home/features.pug
		include _includes/_home/tariffs.pug