extends _layout/page.pug

block meta
	- config.page.title = 'Password generator';
	- iconedTitle = false;

block main
	include _includes/_pass-gen/pass-gen.pug
	include _includes/_pass-gen/steps.pug
	include _includes/_pass-gen/how-to-create.pug
	include _includes/_home/features.pug