extends _layout/login.pug

block meta
	- config.page.title = 'Log in';
	- miniFooter = true;
	- mainClasses = 'main--login';
	- logType = 'register';

block main
	include _includes/_log-in/header.pug
	include _includes/_log-in/form.pug
	include _includes/_log-in/steps.pug