extends _layout/login.pug

block meta
	- miniFooter = true;
	- mainClasses = 'main--publisher';
	-

block main
	.signin-block.signin-block--wide
		h1.signin-block__title.title-1 MultiPassword publisher account
		.signin-block__inner
			include _includes/_partners/signin-form.pug
			include _includes/_partners/signin-add.pug
