extends _layout/page.pug

block meta
	- config.page.title = 'Why it\'s safe?';
	- iconedTitle = true;
	- iconClass = 'fas fa-shield-alt';

block main
	include _includes/wis.pug
	include _includes/signup-section.pug