.why-its-safe {
	@include media-breakpoint-up(lg) {
		background-image: linear-gradient(to right, $color-violet-dark, $color-violet-dark),
			linear-gradient(to right, $color-gray-lightest, $color-gray-lightest);
		background-repeat: no-repeat;
		background-size: 40% 100%, 60% 100%;
		background-position: left top, right top;
	}
	@include media-breakpoint-up(xl) {
		overflow: hidden;
	}

	&__banner,
	&__content {
		height: 100%;
	}
	&__banner {
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 130px;
		margin: 0 calc(-0.5 * var(--bs-gutter-x));
		padding: 20px calc(0.5 * var(--bs-gutter-x)) 25px;
		background-color: $color-violet-dark;
		background-repeat: no-repeat;
		background-image: url(#{$img-path}promo-bg-nm.svg);
		background-position: -42px -53px;
		background-size: 650px 450px;

		@include media-breakpoint-up(md) {
			background-image: url(#{$img-path}promo-shield-nm.svg), url(#{$img-path}promo-bg-nm.svg);
			background-position: right 34px top -7px, -42px -53px;
			background-size: 296px 191px, 650px 450px;
		}
		@include media-breakpoint-up(lg) {
			background-position: right -81px top 26px, right -34px top 36px;
			background-size: 387px 250px, 838px 591px;
			min-height: 250px;
			margin: 0;
			padding: 0;
			padding-top: 42px;
			padding-bottom: 50px;
		}
		@include media-breakpoint-up(xl) {
			position: relative;
			min-height: 300px;
			background-image: none;
			overflow: hidden;
			
			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				z-index: z(default);
				pointer-events: none;
			}
			&::before {
				top: 36px;
				right: -34px;
				width: 838px;
				height: 591px;
				background-image: url(#{$img-path}promo-bg-nm.svg);
			}
			&::after {
				bottom: -42px;
				right: -82px;
				width: 387px;
				height: 260px;
				background-image: url(#{$img-path}promo-shield-nm.svg);
			}
		}
	}
	&__title {
		text-align: center;
		color: $color-white;

		@include media-breakpoint-up(md) {
			text-align: left;
		}
		@include media-breakpoint-up(xl) {
			position: relative;

		}
	}
	&__more {
		max-width: 160px;
		margin: auto auto 0;
		color: $color-white;
		border-color: currentColor;
		
		@include media-breakpoint-up(md) {
			margin-left: 0;
		}
		@include media-breakpoint-up(xl) {
			position: relative;
		}
	}
	&__content {
		display: flex;
		align-items: center;
		background-color: $color-gray-lightest;
		margin: 0 calc(-0.5 * var(--bs-gutter-x));
		padding: 25px calc(0.5 * var(--bs-gutter-x) + 30px);
		
		@include media-breakpoint-up(md) {
			padding-left: calc(0.5 * var(--bs-gutter-x));
		}
		@include media-breakpoint-up(lg) {
			margin: 0;
			padding: 0;
			padding-left: 10px;
		}
		@include media-breakpoint-up(xl) {
			padding-left: 0;
			position: relative;

			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 18px;
				height: 40px;
				background-color: $color-violet-dark;
				clip-path: polygon(0 0, 18px 20px, 0 40px);
			}
		}
	}
	&__list {
		&-item {
			display: flex;
			color: $color-gray-darker;
			line-height: 150%;

			&:not(:last-child) {
				margin-bottom: 12px;
			}
			&::before {
				content: "";
				flex: 0 0 auto;
				width: 9px;
				height: 2px;
				margin-right: 10px;
				margin-top: 0.5em;
				background-color: $color-blue;
			}
			@include media-breakpoint-up(xl) {
				font-size: rem(17);
			}
		}
	}
}
