section.press-resources
	.container-xl
		.row
			.col-lg-3
				h2.press-resources__title Resources
			.col-lg-6
				p.press-resources__text Get all the assets you need such as our logos, product, app screenshots and photos of our company.
			.col-lg-3
				a.press-resources__dl.iconed-btn(href="#" download0)
					+icon('press-resources__dl-icon iconed-btn__icon fas fa-external-link-square-alt')
					span.press-resources__dl-text.iconed-btn__text Full press kit 