:root {
	font-size: $root-font-size + px;
}
body {
	display: flex;
	flex-flow: column nowrap;
	min-width: 280px;
	min-height: 100vh;
	background: $color-white;
	color: $color-violet-dull-darker;
	font-family: $font-roboto;
	font-weight: 400;
	font-size: inherit;
	line-height: 1;
}
.main {
	flex: 1 1 auto;
}
.title-1 {
	font-family: $font-ubuntu;
}

// buttons

.iconed-btn {
	--size: 60px;

	display: flex;
	align-items: center;
	height: var(--size);
	text-decoration: none;
	color: inherit;

	@include media-breakpoint-up(xl) {
		--size: 70px;
	}
	&__icon {
		flex: 0 0 auto;
		width: var(--size);
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		@include media-breakpoint-up(lg) {
			font-size: rem(18);
		}
		@include media-breakpoint-up(xl) {
			font-size: rem(20);
		}
	}
	&__text {
		flex: 1 1 auto;
		margin-left: calc(var(--size) * -1);
		text-align: center;
		font-family: $font-ubuntu;
		font-weight: normal;
		font-weight: 500;
		line-height: 1.2em;
		@include dottedEnd;

		@include media-breakpoint-up(md) {
			font-size: rem(18);
		}
		@include media-breakpoint-up(lg) {
			font-size: rem(22);
		}
		@include media-breakpoint-up(xl) {
			font-size: rem(24);
		}
	}
}