:root {
	font-size: $root-font-size + px;
}
body {
	display: flex;
	flex-flow: column nowrap;
	min-width: 280px;
	min-height: 100vh;
	background: $color-white;
	color: $color-violet-dull-darker;
	font-family: $font-roboto;
	font-weight: 400;
	font-size: inherit;
	line-height: 1;
}
.main {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}

// titles

.title-1,
.title-2 {
	font-family: $font-ubuntu;
}
.section-title {
	font-weight: 500;
	font-size: rem(20);
	line-height: rem(23);

	@include media-breakpoint-up(md) {
		font-size: rem(24);
		line-height: rem(28);
	}
	@include media-breakpoint-up(lg) {
		font-size: rem(28);
		line-height: rem(32);
	}
	@include media-breakpoint-up(xl) {
		font-size: rem(32);
		line-height: rem(37);
	}
}

// buttons

.action-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 60px;
	background-color: $color-violet;
	color: $color-white;
	font-size: rem(18);
	font-weight: 500;
	@include dottedEnd;
	transition: background-color 200ms;

	@include media-breakpoint-up(xl) {
		font-size: rem(22);
	}
	&:hover {
		background-color: $color-violet-dark;
		color: $color-white;
	}
	&.is-disabled {
		cursor: not-allowed;
		background-color: $color-gray-lighter;
		color: $color-gray;
		pointer-events: none;
	}
}
.iconed-btn {
	--size: 60px;

	display: flex;
	align-items: center;
	height: var(--size);
	text-decoration: none;
	color: inherit;

	@include media-breakpoint-up(xl) {
		--size: 70px;
	}
	&__icon {
		flex: 0 0 auto;
		width: var(--size);
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: font-size 100ms;

		@include media-breakpoint-up(lg) {
			font-size: rem(18);
		}
		@include media-breakpoint-up(xl) {
			font-size: rem(20);
		}
	}
	&__text {
		flex: 1 1 auto;
		margin-left: calc(var(--size) * -0.5);
		text-align: center;
		font-family: $font-ubuntu;
		font-weight: normal;
		font-weight: 500;
		line-height: 1.2em;
		@include dottedEnd;

		@include media-breakpoint-up(md) {
			font-size: rem(18);
		}
		@include media-breakpoint-up(lg) {
			font-size: rem(22);
		}
		@include media-breakpoint-up(xl) {
			font-size: rem(24);
		}
	}
	&:hover {
		.iconed-btn__icon {
			font-size: 150%;
		}
	}
}
.more-btn {
	height: 40px;
	min-width: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid $color-gray-lighter;
	color: $color-violet-dark;
	text-decoration: none;
	line-height: 120%;
	font-weight: 500;
	transition: background-color 200ms, border-color 200ms, color 200ms;

	@include media-breakpoint-up(xl) {
		font-size: rem(17);
	}
	&:hover {
		background-color: $color-gray-lightest;
		border-color: $color-gray-lightest;
	}
}
