.footer {
	margin-top: auto;

	&__top,
	&__bottom {
		padding-top: 22px;
		border-top: 1px solid $color-gray-lighter;
	}
	&__top {
		padding-bottom: 22px;
	}
	&__bottom {
		padding-bottom: 30px;
	}
	&__copy {
		line-height: 25px;
		margin-bottom: 15px;
		color: $color-violet;

		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
		}
		
		span {
			padding-left: 10px;
			font-size: rem(15);
			font-weight: 500;
			color: $color-gray-darker;
		}
	}
	&__policies {
		display: flex;
		flex-flow: row wrap;
		margin-bottom: 15px;

		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
		}

		&-item {
			color: $color-violet-dark;
			font-size: rem(14);
			line-height: rem(24);
			text-decoration: none;

			&:not(:last-child) {
				&::after {
					content: '';
					border-right: 1px solid $color-gray-light;
					margin: 0 8px;
				}
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.footer-menu {
	&__title {
		margin-bottom: 14px;
		color: $color-violet-dull-darker;
		font-size: rem(17);
		font-weight: 500;
		line-height: rem(20);
	}
	&__list {
		padding-left: 0;
		margin-bottom: 16px;
	}
	&__item {
		&:not(:last-child) {
			margin-bottom: 6px;
		}
	}
	&__link {
		color: $color-violet-dark;
		text-decoration: none;
		font-size: rem(14);
		line-height: rem(16);

		&:hover {
			text-decoration: underline;
		}
	}
}
