.github-corner {
	position: fixed;
	top: 0;
	right: 0;
	z-index: z(immortal);

	&__svg {
		color: #fff;
	}
	@include hover() {
		&:hover {
			.github-corner__octo-arm {
				animation: octocat-wave 560ms ease-in-out;
			}
		}
	}
	@include media-breakpoint-down(md) {
		top: auto;
		bottom: 0;
		transform: rotateZ(90deg);
	}
}
@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0);
	}
	20%,
	60% {
		transform: rotate(-25deg);
	}
	40%,
	80% {
		transform: rotate(10deg);
	}
}
