.header {
	position: relative;
	min-height: 64px;
	padding: 12px 0;
	background-color: $color-violet-dark;
	color: $color-white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	&__title {
		position: relative;
		display: flex;
		align-items: center;
	}
	&__logo {
	}
	&__name {
		font-size: 0;
		
		&::after {
			content: '';
			@include absoluteFull;			
		}
		@include media-breakpoint-up(lg) {
			margin-left: 10px;
			margin-bottom: 5px;
			font-family: $font-ubuntu;
			font-size: rem(20);
			line-height: rem(23);
			font-weight: 500;
			text-decoration: none;
			color: inherit;
		}
		span {
			color: #7D96FF;
		}
		&:hover {
			color: inherit;
		}
	}
	&__slogan {
		color: $color-violet-lighter;
	}
	// header--home
	&--home {
		// min-height: 94px;
		padding: 15px 0;
		box-shadow: none;

		.header__logo {
			@include media-breakpoint-down(xl) {
				width: 40px;
				height: 40px;
			}
		}
		.header__name {
			@include media-breakpoint-up(xl) {
				margin-bottom: 8px;
				font-size: rem(38);
				line-height: rem(44);
				letter-spacing: -0.03em;
			}
		}

	}
}