.header-nav {
	$transDur: 300ms;
	$transFunc: ease-in-out;

	display: flex;

	&__list {
		margin: 0;
		padding: 0;

		@include media-breakpoint-down(md) {
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			z-index: z(tooltip);
			overflow: hidden;
			pointer-events: none;
			opacity: 0;
			visibility: hidden;
			transition: opacity $transDur $transFunc, visibility $transDur $transFunc;
			background-color: $color-violet-dull-lighter;
			box-shadow: 0px 4px 15px #CFD3E3;

			&.is-active {
				opacity: 1;
				visibility: visible;

				.header-nav__item {
					transform: translateX(0);
				}
			}
		}
		@include media-breakpoint-up(md) {
			display: flex;
			pointer-events: all;
		}
	}
	&__item {
		pointer-events: all;
		
		@include media-breakpoint-down(md) {
			transform: translateX(100%);
			transition: transform $transDur $transFunc;

			&:not(:last-child) {
				border-bottom: 1px solid $color-violet-dull-light;
			}
			@for $i from 0 through 4 {
				&:nth-child(#{$i + 1}) {
					transition-delay: $i * 40 + ms;
				}
			}
		}
		@include media-breakpoint-up(md) {
			display: flex;
			align-items: center;
			transform: none;
			transition: none;
		}

	}
	&__link {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		text-decoration: none;
		@include dottedEnd;
		
		@include media-breakpoint-down(md) {
			width: 100%;
			height: rem(48);
			padding: 0 15px;
			color: $color-violet-dark;
			
			&:hover {
				background-color: $color-violet-dull-light;
			}
		}
		@include media-breakpoint-up(md) {
			height: rem(40);
			padding: 0 7px;
			color: $color-white;
			font-size: rem(17);

			&:hover {
				color: darken($color-white, 5%);
			}
		}
	}
	&__signin {
		display: flex;
		align-items: center;
		height: 40px;
		padding-left: 12px;
		padding-right: 16px;
		margin-left: 13px;
		border: 1px solid $color-violet;
		text-decoration: none;
		border-radius: 3px;
		white-space: nowrap;
		transition-duration: 200ms;
		transition-property: background-color, border-color;
		transition-timing-function: $transFunc;

		i {
			color: $color-blue;
		}
		span {
			margin-left: 12px;
			color: $color-white;
			font-weight: 500;
			transition-duration: inherit;
			transition-timing-function: inherit;
			transition-property: color;
		}
		&:hover {
			background-color: $color-white;
			border-color: $color-white;

			i {

			}
			span {
				color: $color-violet-dark;
			}
		}
	}
	&__burger {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		color: #7089F1;
		font-size: rem(20);
		transition: color $transDur $transFunc;

		&.is-active {
			color: $color-violet-dull-lighter;
		}
	}
	// homepage nav
	&--home {
		justify-content: flex-end;
		
		@include media-breakpoint-up(md) {
			justify-content: space-between;
		}
	}
}