.how-its-work {
	padding: 26px 0;

	@include media-breakpoint-up(md) {
		padding-bottom: 40px;
	}
	&__title {
		margin-bottom: 15px;
		text-align: center;

		@include media-breakpoint-up(md) {
			margin-bottom: 0;
			text-align: left;
		}
	}
	&__more {
		max-width: 160px;
		margin: 0 auto;

		@include media-breakpoint-up(md) {
			margin-right: 0;
		}
	}
	&__list {
		counter-reset: hiw;
		padding: 0;
		margin: 0;
	}
}
.hiw-item {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 85px;
	padding: 26px 22px;
	margin-top: 40px;
	background-color: $color-gray-lightest;

	@include media-breakpoint-up(xl) {
		height: 155px;
	}

	&::before {
		content: counter(hiw);
		counter-increment: hiw;
		position: absolute;
		top: -22px;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 60px;
		height: 32px;
		padding-right: 14px;
		clip-path: polygon(0 0, 46px 0, 60px 16px, 46px 32px, 0 32px);
		background-color: $color-violet;
		color: $color-white;
		font-size: rem(25);
		font-weight: 700;
		
		@include media-breakpoint-up(xl) {
			width: 74px;
			height: 40px;
			clip-path: polygon(0 0, 56px 0, 74px 20px, 56px 40px, 0 40px);
		}
	}
	&__icon {
		flex: 0 0 auto;
		display: flex;
		width: 32px;
		height: 32px;
		margin-right: 14px;
		font-size: rem(10);
		
		@include media-breakpoint-up(xl) {
			width: 42px;
			height: 42px;
			margin-right: 12px;
		}

		&-img {
			margin: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__text {
		color: $color-violet-dull-darker;
		line-height: rem(20);
	}

}