@import "meta/_meta.scss";
@import "_fonts.scss";
@import "_icons.scss";

// BOOTSTRAP
@import "~bootstrap/scss/bootstrap.scss";

// FONTAWESOME
@import url("https://use.fontawesome.com/releases/v5.14.0/css/all.css");

// BASE
@import "_resets.scss";
@import "_common.scss";
@import "_header.scss";
@import "_header-nav.scss";
@import "_page-title.scss";
@import "_search-bar.scss";
@import "_signup-section.scss";
@import "_footer.scss";
@import "_lang-dropdown.scss";

// HOME
@import "home/_hero.scss";
@import "home/_how-its-work.scss";
@import "home/_why-its-safe.scss";
@import "home/_features.scss";
@import "home/_tariffs.scss";

// FEATURES
@import "features/_features-list.scss";

// WHY IT'S SAFE
@import "wis/_wis.scss";

// HOW IT WORKS
@import "hiw/_hiw-section.scss";

// DOWNLOAD
@import "download/_download-section.scss";

// HELP
@import "help/_help-categories.scss";
@import "help/_latest-articles.scss";
@import "help/_try-section.scss";

// ARTICLE
@import "articles/_article-body.scss";
@import "articles/_related-articles.scss";

// PRESS KIT
@import "press-kit/_brand-section.scss";
@import "press-kit/_logo-section.scss";
@import "press-kit/_colors-section.scss";
@import "press-kit/_resources-section.scss";

// SIGN IN
@import "sign-in/_publisher-signin.scss";
@import "sign-in/_signin-form.scss";
@import "sign-in/_signin-add.scss";

// PASS GEN
@import "pass-gen/_pass-gen.scss";

// LOG IN
@import "log-in/_header.scss";

// @import "_debug.scss";
