@import "meta/_meta.scss";
@import "_resets.scss";
@import "_fonts.scss";
@import "_icons.scss";

// BOOTSTRAP
@import "~bootstrap/scss/bootstrap.scss";

// FONTAWESOME
@import url("https://use.fontawesome.com/releases/v5.14.0/css/all.css");

// BASE
@import "_common.scss";
@import "_header.scss";
@import "_header-nav.scss";
@import "_footer.scss";
@import "_lang-dropdown.scss";

// HOME

@import "_hero.scss";
@import "_how-its-work.scss";

// @import "_debug.scss";
