-
	var list = [
		'10% from each payment forever',
		'Quick start when signed up',
		'Monthly payments',
		'24/7 partner support',
		'Accurate sales statistics',
		'Media-kit for everyone',
	]
.signin-add
	ul.signin-add__list
		each item in list
			li.signin-add__item #{item}
